<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="2.2" package="pfc.Jclic">
	<uses-sdk android:minSdkVersion="8" 
          android:targetSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  
	<!-- Nuevo menú -->
	<application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/jclic_aqua" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
    	<activity android:label="@string/app_name" android:screenOrientation="landscape" android:name="pfc.Jclic.Inici">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- Cambiar todo a landscape -->
		<activity android:name="pfc.Jclic.Llibreria" android:screenOrientation="landscape" />
		<activity android:name="pfc.NavegadorArxius.NavegadorArxius" android:screenOrientation="portrait" />
		<activity android:name="pfc.Activitats.Puzzle" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.DoublePuzzle" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.HolePuzzle" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.ExchangePuzzle" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.SimpleAssociation" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.Memory" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.PanelsIdentify" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.ComplexAssociation" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.WrittenAnswer" android:screenOrientation="landscape" />
		<activity android:name="pfc.Activitats.Text" android:screenOrientation="landscape" />
        <activity android:name="pfc.Activitats.FillinBlanks" android:screenOrientation="landscape" />
        <activity android:name="pfc.Activitats.Identify" android:screenOrientation="landscape" />
        <activity android:name="pfc.Repositori.LlistatProjectes" android:screenOrientation="landscape" />
        <activity android:name="pfc.Activitats.TextOrder" android:screenOrientation="landscape" />
		
	</application>

</manifest>
